{{> header}}
<input type="hidden" name="" id="content" value="{{baiviet.content}}">
<div class="main">
    <div class="featured-product">
        <div class="container">
            <div class="section-header">
                <h3>{{baiviet.title}}</h3>
            </div>
            <div class="section-main row center">
                <div id="text"></div>
            </div>
        </div>
    </div>
</div>
<script>
    const value = document.getElementById('content').value;
    const html = document.getElementById('text')
    html.innerHTML = value
</script>

{{> footer}}